<Configuration status="debug">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} (%-16t) [%-5p] %c{1}:%L - %m%n"/>
        </Console>
        <File name="TEMP" fileName="temp">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} (%-16t) [%-5p] %c{1}:%L - %m%n"/>
        </File>
        <Async name="ASYNC">
            <AppenderRef ref="TEMP"/>
            <AppenderRef ref="CONSOLE"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>
</Configuration>